<div class="background" @bounceup>
  <div class=" viewarea">
    <div class="row no-gutter skills">
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/firebase.svg" alt=""> <br> Firebase</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/angularjs.svg" alt=""> <br> Angular</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/laravel.svg" alt=""> <br> Laravel</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/mysql.svg" alt=""> <br> MySQL</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/python.svg" alt=""> <br> Python</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/php.svg" alt=""> <br> PHP</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/java.svg" alt=""> <br> JAVA</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/c++.png" alt=""> <br> C++</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/js.png" alt=""> <br> Javascript</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/st.png" alt=""> <br> Software Testing</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/dj.jpg" alt=""> <br> Django</header>
      </div>
      <div class="col-md skill">
          <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
          </mat-progress-spinner> -->
  
          <svg width="250px" height="250px" >
            <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
          </svg>
          <header><img src="../../assets/nodejs.svg" alt=""> <br> Node Js</header>
        </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/html.svg" alt=""> <br> HTML</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/css.svg" alt=""> <br> CSS</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/canvas.png" alt=""> <br> Canvas Animation</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/figma.svg" alt=""> <br> Figma UI Designing Tool</header>
      </div>
      <div class="col-md skill">
        <!-- <mat-progress-spinner class="skilllevel" color="primary" mode="determinate" value="70">
        </mat-progress-spinner> -->

        <svg width="250px" height="250px" >
          <circle r="115" class="svg_1" cy="50%" cx="50%" stroke-width="10"  fill="none"/>
        </svg>
        <header><img src="../../assets/restful.png" alt=""> <br> REST-API</header>
      </div>

    </div>


  </div>

</div>