<!-- <div class="header_profile">
  <img src="../../assets/sam.png" alt="I am Shivam" id="profilepic">

  <span id="greet">Hello!</span>
</div> -->

<div id="loader">

  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
  <div class="circle4"></div>
  <div class="circle5"></div>
  <div class="circle6"></div>

</div>

<div id="initmsg">
<span class="fst">Hello! </span><span class="sec">You are </span> <span class="thr">about to </span> <span class="frt">view </span> <span class="fif">Shivam's </span> <span class="six">profile</span>
</div>