<div class="background" @bounceup>
    <div class=" viewarea">
        <div class="expback">

            <div class="row no-gutter exp">
                <div class="col-md-2 no-gutter logo"><img src="../../assets/atg.png" alt="">
                    <div class="dottt"></div>
                </div>
                <div class="col-md no-gutter content">
                    <header>Full Stack Developer Intern <span class="location"><i class="fas fa-map-marker-alt"></i>
                            Bengaluru</span></header>
                    <div class="subhead"><i class="fas fa-link link"></i> <a target="_blank" href="https://www.atg.world">ATG Networks PVT LTD.</a></div>
                    <div class="daterange">11/2017 – 06/2018</div>

                    <section class="aboutcompany">Across The Globe is a technology social network which connects people
                        with similar professional or personal interests.
                    </section>
                    <section class="skills">

                        <header>Skills Upgraded</header>
                        <hr>
                        <mat-chip-list>
                            <mat-chip>
                                PHP & Laravel
                            </mat-chip>
                            <mat-chip>
                                REST-API
                            </mat-chip>
                            <mat-chip>
                                HTML
                            </mat-chip>
                            <mat-chip>
                                CSS
                            </mat-chip>
                            <mat-chip>
                                Bootstrap 3
                            </mat-chip>
                            <mat-chip>
                                jQuery
                            </mat-chip>
                            <mat-chip>
                                Javascript
                            </mat-chip>
                            <mat-chip>
                                AWS S3 Storage
                            </mat-chip>
                        </mat-chip-list>
                    </section>
                    <section class="tasks">
                        <header>
                            Achievements/Tasks
                        </header>
                        <hr>
                        <ul>
                            <li>Developed the website with PHP Laravel 5 as backend & Bootstrap, jQuery, HTML/CSS as
                                frontend.</li>
                            <li>Testing of ATG mobile application and fixing its back-end API requests/response errors.
                            </li>
                            <li>Worked on AWS S3 storage</li>
                            <li>Push-notification implementation</li>
                            <li>developed reusable and symmetric code</li>
                            <li>use of traits, email notifications</li>
                            <li>REST-APIs for ATG App</li>



                        </ul>
                    </section>
                    <footer></footer>
                </div>
            </div>

        </div>

        <div class="expback">
            <div class="row no-gutter exp">
                <div class="col-md-2 no-gutter logo"><img src="../../assets/atg.png" alt="">
                    <div class="dottt"></div>
                </div>
                <div class="col-md no-gutter content">
                    <header>campus ambassador <span class="location"><i class="fas fa-map-marker-alt"></i>
                            VIT Vellore</span></header>
                    <div class="subhead"><i class="fas fa-link link "></i> <a target="_blank" href="https://www.atg.world">ATG Networks PVT LTD.</a></div>

                    <div class="daterange">07/2018 – 12/2018</div>
                    <section class="aboutcompany">Across The Globe is a technology social network which connects people
                        with similar profession or personal interests.
                    </section>
                    <section class="skills">

                        <header>Skills Upgraded</header>
                        <hr>
                        <mat-chip-list>
                            <mat-chip>
                                marketing
                            </mat-chip>
                            <mat-chip>
                                Communication
                            </mat-chip>
                            <mat-chip>
                                Social Media Handling
                            </mat-chip>


                        </mat-chip-list>
                    </section>
                    <section class="tasks">
                        <header>
                            Achievements/Tasks
                        </header>
                        <hr>

                        <ul>
                            <li>advertised ATG products through social media.</li>
                            <li>ATG product description and Sticker distribution in events.
                            </li>
                            <li>Seminar on benifits of ATG's product in college</li>
                            <li>Sharing coupons etc</li>



                        </ul>
                    </section>
                    <footer></footer>
                </div>
            </div>


        </div>


        <div class="expback">
            <div class="row no-gutter exp">
                <div class="col-md-2 no-gutter logo"><img src="../../assets/xerooks.png" alt=""></div>
                <div class="col-md no-gutter content">
                    <header>Founder<span class="location"><i class="fas fa-map-marker-alt"></i>
                            Vellore</span></header>
                    <div class="subhead"><i class="fas fa-link link"></i> <a target="_blank" href="https://www.xerooks.in">Xerooks</a> </div>
                    <div class="daterange">07/2018 – Present</div>
                    <section class="aboutcompany">Xerooks aims to digitize printing services by removing the need of
                        hardware for input of content.
                    </section>
                    <section class="skills">

                        <header>Skills Upgraded</header>
                        <hr>
                        <mat-chip-list>
                            <mat-chip>
                                Angular 5
                            </mat-chip>
                            <mat-chip>
                                Firebase
                            </mat-chip>
                            <mat-chip>
                                Firebase Functions
                            </mat-chip>
                            <mat-chip>
                                Bootstrap 4
                            </mat-chip>
                            <mat-chip>
                                Payment gateway
                            </mat-chip>
                            <mat-chip>
                                UI/UX
                            </mat-chip>
                            <mat-chip>
                                Realtime Database
                            </mat-chip>
                            <mat-chip>
                                Figma UI toolkit
                            </mat-chip>

                        </mat-chip-list>
                    </section>
                    <section class="tasks">
                        <header>
                            Achievements/Tasks
                        </header>
                        <hr>

                        <ul>
                            <li>Developing the website with Angular 5 as frontend & Firebase, Node as backend.
                            </li>
                            <li>Technical management of other developers and marketing the product.
                            </li>
                            <li>growth planning and its monitoring</li>



                        </ul>
                    </section>
                    <footer></footer>
                </div>
            </div>


        </div>


    </div>

</div>